@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-100;
  }
}

@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white;
    color: black;
  }
}